<div class="order-products">
<div class="products-header">
<div class="products-header-title">{{orderLabels.title}}</div>
  <div class="products-header-wrapper">
  <div class="products-header-amount">{{orderLabels.amount}}</div>
  <div class="products-header-price">{{orderLabels.price}}</div>
  <div class="products-header-total">{{orderLabels.total}}</div>
  </div>
</div>
<div class="products-content">
<div class="products-content-item"
  (click)="selectProduct(orderProductsItem)"
  [ngClass]="chosenProduct?.title == orderProductsItem.title?'active':''"
  *ngFor="let orderProductsItem of selectedProducts"
>

  <div class="title">
    {{orderProductsItem.title}}
  </div>
  <div class="products-content-wrapper">
  <div class="amount">
    {{orderProductsItem.amount}}
    <img  src="./assets/pencil.svg">
  </div>
  <div class="price">
    {{orderProductsItem.price}}
  </div>
  <div class="total">
    {{orderProductsItem.total}}
  </div>
  </div>
</div>
</div>
</div>
