.order-list-items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  grid-gap: 20px;
}
.order-list-item{
padding: 10px;
border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor:default;
}
.order-list-date{
  color: #9E9E9E;
  font-size: 15px;
}
.order-list-title{
color: black;
  font-size: 20px;
}
.order-list-subtitle{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #00827F ;
color: #00827F;
  font-size: 18px;
  width: 102px;
  align-self: end;
cursor:pointer;
}
.order-list-subtitle:hover{
  box-shadow: -1px 0px 10px 5px  rgba(87, 231, 237, 0.5);
}
