<div class="order">
  <app-header></app-header>
  <div class="order-wrapper">
    <div class="order-left-wrapper">
    <app-order-info
    [orderTotal]="getSum()"
    ></app-order-info>
    <app-order-products
      (orderProductsEmit)="setProduct($event)"
    [selectedProducts]="selectedProducts"
    ></app-order-products>
      <app-order-products-footer
        (addProductEmitter)="addProduct()"
        (decreaseProductEmitter)="decreaseProduct()"
        (deleteButtonEmitter)="deleteProduct()"
        [chosenProduct]="chosenProduct"
      ></app-order-products-footer>
    </div>
    <div class="order-right-wrapper">
    <app-categories
    (selectCategoryEmitter)="setProducts($event)"
    ></app-categories>
    <app-categories-products
    [orderCategoriesItems] = "products"
      (selectCategoriesProduct)="addProducts($event)"
    ></app-categories-products>
      <app-categories-footer></app-categories-footer>
    </div>
  </div>
</div>
