
.order-wrapper{
  display: flex;
  width: 100%;
  background-color: #FAFAFA;
}
.order-left-wrapper{
  display: flex;
  flex-direction: column;
  width: 600px;
  border-right: 3px solid #9E9E9E;
}

.order-right-wrapper{
  width: calc(100% - 600px);

}
